@import url(https://fonts.googleapis.com/css?family=Roboto);

// VARIABLES
$dark-yellow-color: #566573;
$light-yellow-color: #FFC43A;
$second-yellow-color: #FFDA65;
$turquoise-color: #707B7C;
$blue-color: #1496bb;
$white-color: white;
$body-background: #24313C;

// MIXINS
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: $body-background;
  background-image: url("wall-background.jpg");
}

.board {
  width: 100%;
  height: 100%;
}

.close {
  cursor: pointer;
  position: relative;
  display: inline-block;
  float: right;
  margin: 4px;
  width: 15px;
  height: 15px;
  overflow: hidden;
  
  &:hover {
    &::before, &::after {
      background: $turquoise-color;
      color: $turquoise-color;
    }
  }
  
  &::before, &::after {
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #000000;
    height: 1px;
  }
  
  &::before {
    @include transform(rotate(45deg));
  }
  
  &::after {
    @include transform(rotate(-45deg));
  }
}

.main-header {
  height: 50px;
  background-color: #CAC6C6;
  color: black;
  cursor: pointer
  
  h1 {
    font-size: 42px;
    color: $white-color;
    line-height: 230px;
    text-transform: uppercase;
    font-weight: 100;
    @include transition(all .3s ease);
  }
  
  .main-header__text {
    padding: 15px;
  }
}

.notes {
  display: flex;
  flex-wrap: wrap;
}

.note {
  display: flex;
  flex-direction: column;
  width: 315px;
  height: 200px;
  background: $second-yellow-color;
  margin: 30px;
  padding: 10px;
  -webkit-box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
  
  article {
    height: 200px;
    display: flex;
    flex-direction: column;
  }

  .note__textarea {
    height: 75%;
    width: 98%;
    font-size: 16px;
    background: $second-yellow-color;
    border: none;
    overflow: auto;
    resize: vertical;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  
  .note__content {
    font-size: 16px;
    padding: 5px;
    padding-bottom: 25px;
    flex: 1;
    height: 200px;
    overflow-y: auto;
  }
  
  .note__header {
    height: 40px;
    width: 100%;
    background: #FFD248;
    padding: 6px;
  }
  
  .note__footer {
    position: relative;
    bottom: 18px;
    
    .note__fold {
      float: left;
      display: inline-block;
      border-top: 40px solid $light-yellow-color;
      border-left: 40px solid $dark-yellow-color;
    }
    
    .note__save {
      float: left;
      width: calc(100% - 40px);
      height: 40px;
      text-align: center;
      line-height: 40px;
      cursor: pointer;
      display: inline-block;
      background: $light-yellow-color;
      color: $white-color;
      border: none;
      
      &:hover {
        background: #FFC43D;
      }
    }
  }
}

p {
  word-wrap: break-word;
}

.wrapper-tooltip {
  
  &:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }

  .tooltip {
    z-index: 999;
    background: $blue-color;
    bottom: 100%;
    color: $white-color;
    display: block;
    left: -20px;
    margin-bottom: 15px;
    opacity: 0;
    padding: 20px;
    pointer-events: none;
    position: absolute;
    width: 100%;
    @include transform(translateY(10px));
    @include transition(all .25s ease-out);
    @include transition(2px 2px 6px rgba(0, 0, 0, 0.28));

    &:before {
      bottom: -20px;
      content: " ";
      display: block;
      height: 20px;
      left: 0;
      position: absolute;
      width: 100%;
    }
    
    &:after {
      border-left: solid transparent 10px;
      border-right: solid transparent 10px;
      border-top: solid $blue-color 10px;
      bottom: -10px;
      content: " ";
      height: 0;
      left: 90%;
      margin-left: -13px;
      position: absolute;
      width: 0;
    }
  }
}

// ANIMATIONS
.fadein {
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

.container.login {
  display: flex;
  justify-content: center;
  background: #FFD248;
  align-content: center;
  max-width: 320px;
  margin-top: 30px;
  padding: 8px;
  color: #000000;
}

.container.login form {
  display: flex;
  flex-direction: column;
}

button.login {
  width: 88px;
}

.logout {
  position: absolute;
  right: 20px;
  top: 6px;
  height: 37px;
  width: 80px;
  line-height: 1.5;
}

input.title__editing {
  background-color: transparent;
  border: none;
}
